In [4]:
import pandas as pd

In [5]:
data_path = "Resources/cities.csv"
data_df = pd.read_csv(data_path)

In [6]:
data_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temperature,Wind Speed
0,0,saint george,90,GR,1576713639,93,39.45,22.34,10.00,2.60
1,1,butaritari,0,KI,1576713640,78,3.07,172.79,28.93,4.66
2,2,smithers,90,CA,1576713490,97,54.78,-127.17,0.00,2.10
3,3,cape town,40,ZA,1576713615,77,-33.93,18.42,17.22,4.60
4,4,pangoa,100,PE,1576713644,97,-12.12,-73.00,20.87,0.17

In [7]:
data_df.to_html('cities.html')

In [10]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open cities.html

In [11]:
data_df.rename({'Unnamed: 0': 'city_id'}, axis=1, inplace=True)

In [12]:
data_df.head()

,city_id,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temperature,Wind Speed
0,0,saint george,90,GR,1576713639,93,39.45,22.34,10.00,2.60
1,1,butaritari,0,KI,1576713640,78,3.07,172.79,28.93,4.66
2,2,smithers,90,CA,1576713490,97,54.78,-127.17,0.00,2.10
3,3,cape town,40,ZA,1576713615,77,-33.93,18.42,17.22,4.60
4,4,pangoa,100,PE,1576713644,97,-12.12,-73.00,20.87,0.17

In [13]:
data_df.to_html('cities.html')

In [14]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open cities.html